html[data-vocs-theme='dark'] {
  --vocs-background-color-primary: #000000;
  --vocs-background-color-background: #000000;
  --vocs-background-color-surface: #000000;
  --vocs-background-color-surfaceElevated: #000000;
  --vocs-background-color-surfaceMuted: #000000;
  --vocs-background-color-surfaceTint: #000000;
  --vocs-background-color-code-block: #000000;
  --vocs-background-color-inline-code: #000000;
}

html[data-vocs-theme='dark'],
html[data-vocs-theme='dark'] body {
  background: #000000;
}

html[data-vocs-theme='dark'] [data-vocs-layout],
html[data-vocs-theme='dark'] [data-v-sidebar],
html[data-vocs-theme='dark'] [data-v-content] {
  background: #000000;
}
